<!DOCTYPE html>
<head>
  <title>Ruby</title>
</head>
<body>
<p id="notice"><%= notice %></p>
<h1>Onestop Learning</h1>
<h2>Ruby</h2>
<h3>Video Tutorials</h3>
<ul>
    <% @favorites.each do |f| %>
      <li> <h4>By <%= f.owner%></h4>
      <span>
        <%= button_to "favorite",   languages_ruby_path(id: f.id , type: "favorite"), method: :post %>
        <%= button_to "unfavorite", languages_ruby_path(id: f.id , type: "unfavorite"), method: :post %>
      </span>
      <iframe width="400" height="300"
        src= <%=f.url %> >
      </iframe>
      <p><b>Description</b></p>
      <p><%= f.description %></p>
    </li>
   <% end %>
</ul>
<h3>Official Documentation</h3>
  <a id = "doc" href = "http://ruby-doc.org/">Documentation</a>

  <div class = "Back">
    <%= link_to 'Back', languages_path %>
  </div>
</body>