<!DOCTYPE html>
<head>
  <title>Java</title>
</head>
<body>
<p id="notice"><%= notice %></p>
<h1>Onestop Learning</h1>
<h2>Java</h2>
<h3>Video Tutorials</h3>
<ul>
    <% @favorites.each do |f| %>
      <li> <h4>By <%= f.owner %></h4>
      <span>
        <%= button_to "favorite",   languages_java_path(url: f.url, owner: f.owner, lang: f.language , type: "favorite"), method: :post %>
        <%= button_to "unfavorite", languages_java_path(url: f.url, owner: f.owner, lang: f.language , type: "unfavorite"), method: :post %>
      </span>
      <iframe width="400" height="300"
        src= <%=f.url %> >
      </iframe>
      <p><b>Description</b></p>
      <p><%= f.description %></p>
    </li>
   <% end %>
</ul>
<h3>Official Documentation</h3>
  <a id = "doc" href = "https://docs.oracle.com/javase/8/">Documentation</a>


	<div class = "Menu">
		<%= link_to 'Main Menu', languages_path %>
		<%= link_to "Signout", destroy_user_session_path, method: :delete%>
	</div>

</body>