<!DOCTYPE html>
<html>
<head>
  <title>Onestop</title>
  <%= stylesheet_link_tag    'default', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'default', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <style type="text/css">
    
    div.container {
    position: absolute;
    top: 100px;
    right: 0px;
    width: 250px;
    height: 300px;
    border: 1px solid blue;
    align-content: right;
}
  </style>
</head>
<body>

<%= yield %>
<% if user_signed_in? %>
	<div class="container">

        <h3>Favorites : <%= @count %></h3>
        <ul class="nav nav-list">
          <% if @count != 0 %>
            <% @links.each do |f| %>
              <li>  
              <span>
              <%= f.language%> : 
              <a href = <%= f.url %> > <%= f.owner %> </a>
              </span>
              </li>
            <% end %>
          <% end %>
        </ul>
	         
	</div> <!-- /container -->
<% end%>

<footer>
        <p>&copy; OneStopLearn 2016</p>
</footer>
</body>
</html>
