<!DOCTYPE html>
<html>
<head>
  <title>Onestop</title>
  <%= stylesheet_link_tag    'default', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'default', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <style type="text/css">
    
    div.container {
    position: absolute;
    top: 100px;
    right: 0px;
    width: 250px;
    height: 300px;
    border: 1px solid blue;
    align-content: right;
}
  </style>
</head>
<body>


<%- flash.each do |name, msg| -%>
    <%= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) %>
<%- end -%>

<% if user_signed_in? %>
  <div class = "Favorite">
      <%= link_to 'Favorites', languages_favorite_path %>      
  </div> 
  <div class = "Menu">
      <%= link_to 'Main Menu', languages_path %>
      <%= button_to "Signout", destroy_user_session_path, method: :delete%>
  </div>
<% end%>
<%= yield %>

<% if user_signed_in? %>
  <% if @show == true %>
    <div class="container">
      <h3>Favorites : <%= @count %></h3>
      <ul class="nav nav-list">
        <% if @count != 0 %>
          <% @links.each do |f| %>
            <li>  
            <span>
            <%= f.language%> : 
            <a href = <%= f.url %> > <%= f.owner %> </a>
            </span>
            </li>
          <% end %>
        <% end %>
      </ul>
    </div> 
  <% end%>
<% end%>
<footer>
        <p>&copy; OneStopLearn 2016</p>
</footer>
</body>
</html>
